.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;

    &-header {
        background-color: $blue;
        color: $white;
    }

    &-footer {
        background-color: $blue;
        color: $white;
    }
}