.navbar {
    &-brand {
        padding: 1.2rem;
        font-family: 'Nunito', sans-serif;
        font-size: 20pt;
        font-weight: bold;

    }

    &-nav {
        .nav-link {
            color: black !important;
            font-family: 'Nunito', sans-serif;
            font-size: large;
        }
    }
}